body {
	width: 100%;
	margin : 0 auto;
	height: 100%;
	position: relative;
	padding: 0;
	background : url(website_product_page/head.jpeg);
	background-size: cover;
	background-repeat: no-repeat;
}
.header {
	height: 80px;
	width: 100%;
	background-color: white;
	position: relative;
}
.header-content {
	height: 80px;
	width: 950px;
	position: relative;
	margin: 0 auto;
}
.spn {
	display: inline-block;
	margin-top: 6px
}
.cart {
	background : url(website_product_page/Rounded-Rectangle-2.png) 50% 50%;
	font-family: 'Patua One', cursive;
	color: #ffffff;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	text-align: center;
	margin-left: 1000px;
	width: 10%;
	height: 40%;
}
.dd-space {
	height: 80px;
	width: 100px;
	float: left;
}
.dd {
	text-decoration: none;
	font-size: 50px;
	margin: 0 auto;
	color: #105485;
	line-height: 80px;
	margin-left: 30px;
	font-family: 'Patua One', cursive;
	font-weight: bolder;
}
.navbar {
	height: 80px;
	width: 608px;
	float: right;

}
ul {
	list-style: none;
	color: black;
	text-align: right;
	float: right;
}
ul li {
	display: inline-block;
	padding: 20px;
	text-transform: uppercase;
}
ul li a {
	text-decoration: none;
	color: black;
	color: #67C4CF;
	font-size: 20px;
	font-family: 'Patua One', cursive;
}
.main {
	height: 900px;
	width: 100%;
}
.main-content {
	height: 900px;
	width: 950px;
	margin: 0 auto;
	text-align: center;
}
.main-content-one {
	width: 950px;
	height: 250px;
}
.intro {
	display: inline-block;
	font-size: 25px;
	margin-top: 60px;
	color: #ffffff;
	font-family: 'Prompt', sans-serif;
}
.footer {
	background-color: #f8f8f8;
	height: 200px;
	width: 100%;
}
.footer-content {
	height: 200px;
	width: 950px;
	margin: 0 auto;
}
.main-content-two {
	height: 650px;
	width: 950px;
}
.main-content-two-left {
	height: 650px;
	float: left;
	width: 35%;
}
.main-content-two-right {
	height: 650px;
	float: right;
	width: 64%;
	text-align: center;
}
.c1 {
	height: 450px;
	width: 80%;
	margin: 0 auto;
	position: relative;
	border-radius: 20px;
	background-color: white;
}
.pp1 {
	font-size: 25px;
	display: inline-block;
	letter-spacing: 4px;
	color: #ADD190;
	font-family: 'Patua One', cursive;
}
.boxcontent {
	margin-top: 5px;
}
.pp2 {
	font-size: 15px;
	padding: 20px;
	text-align: left;
	color: #2E6794;
	font-size: 12px;
	font-family: 'Prompt', sans-serif;
	display: inline-block;
	margin-top: -20px;
}
.f1 {
	height: 300px;
	width: 99%;
}
.box1 {
	line-height: 25px;
	display: inline-block;
	margin: 0 auto;
	height: 90%;
	width: 30%;
	float: left;
	border-radius: 15px;
	background-color: white;
}
.box23 {
	line-height: 25px;
	border-radius: 15px;
	display: inline-block;
	margin: 0 auto;
	height: 90%;
	width: 30%;
	float: left;
	margin-left: 25px;
	background-color: white;
}
.spm {
	margin-left: 10pxs;
}
.prodName {
	font-size: 17px;
	vertical-align: middle;
	color: #ffffff;
	margin-top: 0px;
	font-family: 'Patua One', cursive;
	height: 20%;
	width: 100%;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	background-color: #62C3D4;
}
.label {
	height: 80%;
	width: 100%;
}
.footer-c1 {
	height: 180px;
	float: left;
	width: 35%;
}
.footer-c2 {
	height: 180px;
	float: left;
	width: 64%;
}
.footer-info1 {
	line-height: 25px;
	margin-left: 40px;
}
.fb {
	float: left;
	margin-top: 20px;
	width: 25%;
	height: 180px;
	color: #c8c8c8;
	font-family: 'Patua One', cursive;
}
.footer-info {
	line-height: 25px;
}
.fdd {
	margin-top: 20px;
	font-size: 35px;
	font-family: 'Patua One', cursive;
	font-weight: bolder;
	color: #c8c8c8;
	margin-left: 35px;
}
.footanchors {
	text-decoration: none;
	color : #c8c8c8;
}
hr {  
    height: 1px;
    width: 25%;
    background: #ADD190;
    margin-top: -12px;
    margin-bottom: 25px; 
}